@model ProductViewModel;

@{
    ViewData["Title"] = "Product List";
}
<div>
    @foreach (var product in Model.products)
    {
        // Display product details with tailwind css
        <div class="border p-4 m-2">
            <h2 class="text-xl font-bold">@product.Name</h2>
            <p class="text-gray-700">@product.Description</p>
            <p class="text-lg font-semibold">@product.Price.ToString("C")</p>
            @{
                var existInCart = Model?.Cart?.CartProducts?.FirstOrDefault(cp => cp.ProductId == product.ProductId);
            }
            @if (existInCart is null)
            {

                <form asp-action="AddToCart" asp-controller="Cart" method="post" class="inline">
                    <input type="hidden" name="ProductId" value="@product.ProductId" />
                    <button type="submit" class="hover:underline text-blue-500 cursor-pointer">Add To Cart</button>
                </form>
            }
            else
            {
                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post" class="inline">
                    <input type="hidden" name="ProductId" value="@product.ProductId" />
                    <button type="submit" class="hover:underline text-red-500 cursor-pointer">Remove From Cart</button>
                </form>
                <button type="button" class="hover:underline text-blue-500 cursor-pointer">
                    <a asp-action="Index" asp-controller="Cart">Go To Cart</a>
                </button>

            }
        </div>


    }
</div>